# General
*.log
*.pot
*.pyc
__pycache__/
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
htmlcov/
coverage.xml

# Distribution / Packaging
dist/
build/
*.egg-info/
